<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Sign Up</title>
</head>

<body class="bg-gray-100 font-sans">
    <h1 class="text-2xl font-bold text-center mt-4">Sign Up Here</h1>
    <div class="mx-auto mt-8 p-6 bg-white rounded-lg shadow-lg w-96">
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="firstname" class="block text-sm font-semibold text-gray-600">Firstname:</label>
                <input type="text" id="firstname" name="firstname" placeholder="Enter firstname"
                    class="w-full px-3 py-2 border border-gray-300 rounded-md">
            </div>
            <div class="mb-4">
                <label for="lastname" class="block text-sm font-semibold text-gray-600">Lastname:</label>
                <input type="text" id="lastname" name="lastname" placeholder="Enter lastname"
                    class="w-full px-3 py-2 border border-gray-300 rounded-md">
            </div>
            <div class="mb-4">
                <label for="username" class="block text-sm font-semibold text-gray-600">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter username"
                    class="w-full px-3 py-2 border border-gray-300 rounded-md">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-semibold text-gray-600">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter password"
                    class="w-full px-3 py-2 border border-gray-300 rounded-md">
            </div>
            <div class="mb-4">
                <label for="role" class="block text-sm font-semibold text-gray-600">Role:</label>
                <input type="text" id="role" name="role" placeholder="Enter role"
                    class="w-full px-3 py-2 border border-gray-300 rounded-md">
            </div>
            <div class="mb-4">
                <button type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>

</html>
